modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 45752525
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Development"
author = 45752525
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 35729
externalPort = 80
