{{!< default}}

{{#contentFor "head"}}
    {{#if @site.cover_image}}
        <style>
            .gh-head-open .gh-head-menu {
                background: rgba(0,0,0,0.9);
            }
        </style>
    {{/if}}
{{/contentFor}}

<main class="gh-main">
    <div class="gh-outer">
        <div class="gh-inner">

            {{#if posts}}
                <div class="gh-topic-grid">
                    <h2 class="gh-topic-name">Latest Posts</h2>

                    <div class="gh-postfeed">
                        {{#foreach posts}}
                            {{> "loop-grid"}}
                        {{/foreach}}
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</main>