{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">

        <section class="gh-pagehead">
            <h1 class="gh-pagehead-title">Latest</h1>
        </section>

        <div class="gh-topic gh-topic-grid">
            <div class="gh-topic-content gh-feed">
                {{#match pagination.page 2}}
                    {{#get "posts" include="authors" filter="tag:-live" limit=@config.posts_per_page as |recent|}}
                        {{#foreach recent}}
                            {{> "loop-grid"}}
                        {{/foreach}}
                    {{/get}}
                {{/match}}
                {{#get "posts" filter="tag:-live" include="authors" limit=@config.posts_per_page as |filtered|}}
                    {{#foreach filtered}}
                        {{> "loop-grid" has_large_post=false}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>

    </div>
</main>